::-moz-selection {
  background: #a00;
  color: #fff;
}

::selection {
  background: #a00;
  color: #fff;
}

::-moz-selection {
  background: #a00;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  // background-color: #333137;
  background-color: rgba(160, 160, 160, 0.4);
}

::-webkit-scrollbar-corner {
  width: 8px;
  height: 8px;
  background-color: #333137;
}