@import "reset";
@import "code";
@import "button";
@import "misc";
@import "dark";

$left-width: 18em;
$header-height: 60px;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, geneva, sans-serif;
    background-color: #f9f9fb;
}

code, tt { font-family: monospace; font-size: 1.1em; }
span.parameter { font-family:monospace; }
span.parameter:after { content:":"; }
span.types:before { content:"("; }
span.types:after { content:")"; }
.type { font-weight: bold; font-style:italic }

body, p, td, th { font-size: .95em; line-height: 1.2em;}

p, ul { margin: 10px 0 0 0px;}

strong { font-weight: bold;}

em { font-style: italic;}

h1 {
    font-size: 1.6em;
    margin: 0 0 16px 0;
    color: #a60c0c; 
    text-align: center;
}
h2, h3, h4 { margin: 15px 0 10px 0; }
h2 {
    font-size: 1.25em;
    padding-bottom: 8px;
    border-bottom: 1px solid #d7d6d6;
}
h3 { font-size: 1.15em; }
h4 { font-size: 1.06em; }

.module-header {
    text-align: center;
    margin: 0 0 20px 0;
    width: 100%;

    h1 { margin: 0 0 4px 0; }

    .meta {
        color: #a2a6af;
    }
}

/* make the target distinct; helps when we're navigating to a function */
a:target + * {
    background-color: #ff9;
}

.atom-anchor {
    position: absolute;
}

hr {
    color:#cccccc;
    background: #00007f;
    height: 1px;
}

blockquote { margin-left: 3em; }

ul { list-style-type: disc; }
ul.nowrap {
    overflow: auto;
    whitespace: nowrap;
}

p.name {
    font-family: "Andale Mono", monospace;
    padding-top: 1em;
}

#container {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: #f9f9fb;
}

.header {
    display: inline-flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: $header-height;
    text-align: left;
    border-bottom: 1px solid #e4e4e4;
    background-color: #ffffff;
    letter-spacing: .5px;

    a, a:hover { text-decoration: none; }

    .header__logo {
        position: relative;
        width: $left-width;
        padding: 11px 0;
        text-align: center;
        float: left;

        a {
            display: inline-block;
            min-width: 166px;
            min-height: 34px;
            background: url(img/logo.png);
        }
    }

    .header__nav {
        .nav {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .nav__item {
            float: left;
            list-style: none;
        }

        .nav__link {
            color: #6c7378;
            display: block;
            font-size: 14px;
            font-weight: normal;
            height: $header-height;
            line-height: $header-height;
            margin-right: 20px;
            position: relative;
        }

        .nav__link:hover,
        .nav__link__active .nav__link {
            color: #1e2021;
            font-weight: 500;
        }

        .nav__link__active .nav__link:after {
            background: #1e2021;
            bottom: 0;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            right: 0;
            z-index: 30;
        }
    }

    .header__theme {
        margin-left: auto;
        margin-right: 8px;

        .theme {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            background-color: #e9e9e9;
            border-radius: 70px;
            position: relative;
            z-index: 10;

            .theme-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                overflow: hidden;
                padding: 8px;
                cursor: pointer;

                svg {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    display: block;
                }
            }

            .theme-bg {
                width: 40px;
                height: 40px;
                position: absolute;
                background-color: #cc201c;
                border-radius: 50px;
                overflow: hidden;
                z-index: -1;
                top: 0px;
                left: 0px;
                right: 0px;
                transition: all 2s;
            }

            &.dark .theme-bg {
                left: 40px;
                right: 0px;
                animation: turn-on 0.3s ease-out;
                transition: all 0.3s;
            }

            &.light .theme-bg {
                left: 0px;
                right: 40px;
                animation: turn-on 0.3s ease-out;
                transition: all 0.3s;
            }
        }
    }
}

#navigation.nav {
    position: fixed;
    top: $header-height;
    left: 0;
    width: $left-width;
    height: calc(100% - #{$header-height});
    z-index: 100;
    vertical-align: top;
    background-color: #f5f7fa; // #f0f0f0;
    border-right: 1px solid #e4e4e4;
    overflow: visible;

    .nav__scrollable {
        position: absolute;
        left: 0;
        width: 100%;
        overflow: auto;
        height: 100%;
        padding: 0 0;

        .btn {
            margin: 12px 0 0 12px;
        }
    }

    h2 {
        // background-color: #e7e7e7;
        font-size:1.1em;
        color: #000000;
        text-align: left;
        padding:0.2em;
        border-bottom: 1px solid #dddddd;
    }

    ul {
        font-size:1em;
        list-style-type: none;
        margin: 1px 1px 10px 1px;
    }

    li {
        text-indent: -1em;
        display: block;
        margin: 3px 0px 0px 22px;
    }

    li li a {
        margin: 0px 3px 0px -1em;
    }
}

.content {
    margin-top: $header-height;
    margin-left: $left-width;
    padding: 1em;

    h2 {
        margin-top: 32px;
    }
}

.about {
    clear: both;
    text-align: right;
    padding: 5px;
    margin-top: 16px;
    color: #a2a6af;
    // border-top: 1px solid #cccccc;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 0.45em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25em;
    background-color: #aa3333;
    color: #fff;
}

table {
    .index { border: 1px #00007f; }
    .index td { text-align: left; vertical-align: top; }

    &.module_list {
        border-width: 1px;
        border-style: solid;
        border-color: #cccccc;
        border-collapse: collapse;

        td {
            border-width: 1px;
            padding: 3px;
            border-style: solid;
            border-color: #cccccc;
        }

        td.name { background-color: #f0f0f0; ; min-width: 200px; }
        td.summary { width: 100%; }
    }

    &.function_list {
        border-width: 1px;
        border-style: solid;
        border-color: #cccccc;
        border-collapse: collapse;

        td {
            border-width: 1px;
            padding: 3px;
            border-style: solid;
            border-color: #cccccc;
        }

        td.name { background-color: #f6f6ff; ; min-width: 200px; }
        td.summary { width: 100%; }
    }
}

dl.table dt, dl.function dt { border-top: 1px solid #ccc; padding-top: 1em; }
dl.table dd, dl.function dd { padding-bottom: 1em; margin: 10px 0 0 20px; }
dl.table h3, dl.function h3 { font-size: .95em; }

/* stop sublists from having initial vertical space */
ul ul { margin-top: 0px; }
ul ol { margin-top: 0px; }
ol ul { margin-top: 0px; }
ol ol { margin-top: 0px; }

/* STATE-Table */
.state-control {
    margin: 15px;
    border-spacing: 0px 0px;
    border: 1px solid #ccc;

    tr { width: 100%; }
    td {
        padding: 5px 10px;
        min-width: 25px;    
        text-align: center;
        font-size: 14px;
        border: none;
        background: #f9f9fc;
        color: #858585;
    }

    .state-control-desc {
        color: #757575 !important;
        background: #eeeef6 !important;
    }
}

.state-num {
    width: 75px;
    text-align: center;
    font-weight: bold;
    background: #EEF1F5;
    font-size: 18px;
}

/* INFO-Table */
.info-table {
    margin: 15px auto;
    width: 98%;
    min-width: 400px;
    border: 1px solid #000;
    border-spacing: 0px;

    th {
        background: #385E97;
        color: #eee;
        text-align: left;
        padding: 7px 10px;
        font-size: 18px;
    }

    td {
        border: 1px solid rgba(0,0,0,0.06);
        padding: 5px 10px;
    }

    .info-table-desc {
        font-size: 12px;
        text-align: center;
        background: #6485B2;
        color: #f5f5f5;
    }
}

.text-block {
    border: 1px solid #cccccc;
    padding: 9px; margin: 15px 9px;
    font-size: 16px;
    background: #fbfbff;
    color: #111111;
}


@media print {
    body {
        font: 12pt "Times New Roman", "TimeNR", Times, serif;
    }

    a { font-weight: bold; color: #004080; text-decoration: underline; }

    #main {
        background-color: #ffffff;
        border-left: 0px;
    }

    #container {
        margin-left: 2%;
        margin-right: 2%;
        background-color: #ffffff;
    }

    #content {
        margin: 0;
        padding: 1em;
        border: none;
        background-color: #ffffff;
    }

    #navigation,
    #header {
        display: none;
    }

    pre.example {
        font-family: "Andale Mono", monospace;
        font-size: 10pt;
        page-break-inside: avoid;
    }
}