html, body {
	font-size: 16px;
	padding: 0 auto;
	margin: 0 auto;
	min-width: 550px;
}

p:before {
	content: "";
	padding-left: 20px;
}

p {
	margin: 5px;
	line-height: 1.35;
}

.info-table	{
	margin: 15px auto;
	width: 98%;
	min-width: 400px;
	border: 1px solid #000;
	border-spacing: 0px;
}

.info-table th {
	background: #385E97;
	color: #eee;
	text-align: left;
	padding: 7px 10px;
	font-size: 18px;
}

.info-table td {
	border: 1px solid rgba(0,0,0,0.06);
	padding: 5px 10px;
}

.info-table-desc {
	font-size: 12px;
	text-align: center;
	background: #6485B2;
	color: #f5f5f5;
}

.state-control {
	margin: 15px;
	border-spacing: 0px 0px;
	border: 1px solid #ccc;
}

.state-control td {
	padding: 5px 10px;
	min-width: 25px;	
	text-align: center;
	font-size: 14px;
	border: none;
	background: #f9f9fc;
	color: #858585;
}

.state-control-desc {
	color: #757575 !important;
	background: #eeeef6 !important;
}

.state-num {
	width: 75px;
	text-align: center;
	font-weight: bold;
	background: #EEF1F5;
	font-size: 18px;
}

.block-descr {
	text-align: left;
	font-weight: normal;
	background: #6485B2;
	color: #eeeeee;
}

.engine {
	color: #999999;
	padding: 3px;
	margin: 3px;
	display: inline-block;
	border: 1px solid #777777;

}


.dc-code {
	border: 1px solid #cccccc;
	padding: 7px; margin: 15px 9px;
	font-size: 12px;
	background: #f9f9fc;
     white-space: pre-wrap;
     white-space: -moz-pre-wrap;
     white-space: -pre-wrap;
     white-space: -o-pre-wrap;
     word-wrap: break-word;
    color: #AAAAAA;
}

.text-block {
	border: 1px solid #cccccc;
	padding: 9px; margin: 15px 9px;
	font-size: 16px;
	background: #fbfbff;
    color: #111111;
}

/*---------- Подсветка DC синтаксиса ----------*/

.tags {
	color: #EB7309;
}
.frame-num {
	font-weight: bold;
}
.frame-name {
	font-style: italic;
	color: #777777;
}

.key-words {
	color: #B2231F;
	font-weight: bold;
}

.key-words2 {
	color: #B81B91;
	font-weight: bold;
}

.value {
	color: #222222;
}

.bdy {
	color: #2C5AAF;
	font-weight: bold;
}
.itr {
	color: #D21212;
	font-weight: bold;
}
.opoint {
	color: #BABC14;
	font-weight: bold;
}
.wpoint {
	color: #3F931A;
	font-weight: bold;
}
.mpoint {
	color: #AD2CAF;
	font-weight: bold;
}
.b {
	color: #2C5AAF;
	font-weight: bold;
}

.comment {
	color: #757575;
	margin: 7px;
	display: inline-block;
	padding: 4px 8px;
	background: #eeeef6;
	border-radius: 5px;
}
.comment2 {
	color: #666666;
}
/*---------- Подсветка DC синтаксиса ----------*/


/*---------- Меню -----------*/

.menu {
	width: 100%;
	background: #385E97;
	height: 35px;
	position: fixed;
	min-width: 500px;
}

.logo {
	display: inline-block;
	height: 35px;
	min-width: 80px;
	box-sizing: border-box;
	padding: 8px; 
	margin: 0 11px;
	color: #ffffff;
	text-align: center;
}

.menu ul {
	padding: 0; margin: 0;
	display: inline-block;
}

.menu ul li {
	display: inline-block;
	height: 35px;
	background: #6485B2;
	min-width: 80px;
	box-sizing: border-box;
	padding: 8px; margin: 0;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	transition: 0.2s;
}
.menu ul li:hover {
	background: #6093D5;
}

/*---------- Меню -----------*/